@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=DM Sans");

@media only screen and (max-width: 4200px) {
  .index-video-list {
    grid-template-columns: repeat(12, minmax(0, 1fr)) !important;
  }
}


@media only screen and (max-width: 3900px) {
  .index-video-list {
    grid-template-columns: repeat(11, minmax(0, 1fr)) !important;
  }
}

@media only screen and (max-width: 3600px) {
  .index-video-list {
    grid-template-columns: repeat(10, minmax(0, 1fr)) !important;
  }
}

@media only screen and (max-width: 3300px) {
  .index-video-list {
    grid-template-columns: repeat(9, minmax(0, 1fr)) !important;
  }
}

@media only screen and (max-width: 3000px) {
  .index-video-list {
    grid-template-columns: repeat(8, minmax(0, 1fr)) !important;
  }
}

@media only screen and (max-width: 2700px) {
  .index-video-list {
    grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
  }
}


@media only screen and (max-width: 2400px) {
  .index-video-list {
    grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
  }
}

@media only screen and (max-width: 2100px) {
  .index-video-list {
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
  }
}

@media only screen and (max-width: 1800px) {
  .index-video-list {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }
}

@media only screen and (max-width: 1532px) {
  .index-video-list {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
}

@media only screen and (max-width: 1200px) {
  .index-video-list {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

@media only screen and (max-width: 900px) {
  .index-video-list {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}
/*
@media only screen and (max-width: 600px) {
  .index-video-list {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
} */
