server {
    listen       80;
    listen  [::]:80;
    server_name  {{ origin }};
    include /etc/nginx/mime.types;

    error_log /dev/stderr debug;
    client_max_body_size 100M;

    resolver 127.0.0.11 valid=10s;

    location ~* /otomads/([a-zA-Z0-9\-]*)(\.thumb) {
        set $backend_service horaminio;
        proxy_pass http://$backend_service:9000/otomads/$1.thumb;
    }

    location ~* /otomads/([a-zA-Z0-9\-]*)(\.mpd) {
        more_set_headers "Content-Type: application/dash+xml";
        set $backend_service horaminio;
        proxy_pass http://$backend_service:9000$request_uri;
    }


    location /otomads/ {
        set $backend_service horaminio;
        proxy_pass http://$backend_service:9000$request_uri;
    }

    location /socket.io {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;

        set $backend_service frontapi;
        proxy_pass http://$backend_service:8000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    location /api/ {
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_pass_request_headers      on;
        add_header Cache-Control 'no-store';
        set $backend_service frontapi;
        proxy_pass http://$backend_service:8083$request_uri;
        proxy_request_buffering off;
    }

    location /_next/webpack-hmr {
        set $backend_service frontend;
        proxy_pass http://$backend_service:3000/_next/webpack-hmr;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
    }

    location / {
        set $backend_service frontend;
        proxy_pass http://$backend_service:3000$request_uri;
        proxy_set_header Host $host;
    }
}
